{% extends "template.html" %}
{% block content %}
<section class="my-40">
    <div class="container">
        <div class="flex flex-wrap justify-self-center">
            <!-- <div class="w-full hover:blur-sm transition-all ease-in-out duration-300 md:w-1/2">
                <div>
                    <img src="" class="mx-auto" alt="">
                </div>
            </div> -->
            <div class="w-full self-center justify-self-center justify-center px-8 mb-20">
                <h1 class="font-bold text-5xl text-emerald-600 mb-5 sm:leading-tight">Klasifikasi Aksara Sunda Ngalagena Perhuruf</h1>
                <span class="font-semibold text-base sm:text-lg text-slate-600 md:text-xl lg:text-2xl">100%
                    Otomatis dan <span
                        class="before:block before:absolute before:-inset-1 before:rounded-xl before:-skew-x-12 before:bg-emerald-500 group-hover:before:bg-blue-500 relative inline-block ml-1"><span
                            class="relative text-white">Gratis</span></span>
                </span>
                <div class="mt-10 flex flex-wrap gap-5">
                    <a href="#upload"
                        class="text-lg font-bold text-white bg-emerald-500 py-3 px-8 rounded-full shadow-lg hover:bg-emerald-600 hover:shadow-xl hover:opacity-80">Unggah
                        Gambar
                    </a>
                    <a class="text-lg font-bold text-white bg-emerald-300 py-3 px-8 rounded-full shadow-lg">Mode Kamera
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="upload" class="mt-16 sm:mt-24 md:mt-44 mb-32 mx-auto">
        <div class="container">
            <h2 class="text-3xl font-semibold text-slate-600 my-10">
                <span class="mx-auto block text-center">Unggah Gambar untuk Klasifikasi</span>
            </h2>
            <div class="text-lg bg-white p-4 rounded-xl shadow-2xl mb-20 w-full md:w-3/4 lg:w-1/2 mx-auto">
                <form action="" method="post" enctype="multipart/form-data" class="grid grid-cols-1 gap-2 md:p-4 my-10">
                    <label for="file" class="block mx-auto">
                        <span class="sr-only">Select Image File</span>
                        <input type="file" name="file" id="file" accept="image/*" required class="block mx-auto text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-emerald-200 file:text-emerald-600 hover:file:bg-emerald-300">
                    </label>
                    <button type="submit" class="w-full bg-emerald-500 text-slate-50 font-bold text-xl py-2 mt-5 rounded-full xs:w-3/4 sm:1/2 lg:w-1/2 mx-auto shadow-lg hover:bg-emerald-600 hover:shadow-xl">Unggah</button>
                    <span class="mx-auto text-center text-xs text-slate-500">* Hanya file dengan format .jpg, .jpeg, and .png</span>
                    <span class="mx-auto text-center text-xs text-red-500">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </span>
                </form>
                {% if data['prediction'] %}
                    <hr class="border-emerald-300">
                    <div class="flex flex-wrap-reverse items-center justify-around my-12">
                        <img src="data:image/png;base64,{{ data['img'] }}"
                            class="max-h-36 rounded-xl border-2 border-emerald-500 shadow-xl">
                        <span class="text-base mb-2 text-slate-500 sm:mb-0">Gambar diklasifikasikan sebagai <b>{{ data['prediction']['class'] }}</b> <br> dengan akurasi <b>{{ data['prediction']['skor'] }}%</b></span>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}